{% extends 'home/layout.html' %}

{% block content %}
    <div class="container">
        <h1 class="display-4 mt-5 mb-4" style="color: #FF6F61;">Добро пожаловать в наш магазин корейской косметики</h1>
        <h2 class="mb-3" style="color: #FF6F61;">Корейская косметика</h2>
        <p class="lead mb-4" style="color: #666;">У нас вы найдете широкий ассортимент корейской косметики для ухода за кожей и макияжа. Высокое качество, натуральные ингредиенты и доступные цены.</p>
    </div>
{% endblock %}
